body{
  background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
} 
 h1{
  font-weight: bold;
  text-align: center;
  text-shadow:3px 3px 8px lightblue ;
 }
 .btn1,.btn2{
  margin-left: 280px;
  padding:10px;
  text-align:center;
  background-color: blue;
  color: azure;
  border-radius: 10px;
  cursor: pointer;
 }
 .btn1:hover{
  background-color:green;
 }
 .btn2:hover{
  background-color:green;
 }
 .fc{
  height:200px;
  width:350px;
  background-color:lightseagreen;
  color:black;
  border:2px solid black;
  padding:8px;
  border-radius:10px;
  margin-top:150px;
  margin-left:155px;
 }
 .fc h1{
  font-weight:bold;
  text-align:center;
 }
 .fc h4{
  text-align: center;
 }
 .fc h5{
  text-align: center;
  color: blue;
 }
.cc{
  height:200px;
  width:350px;
  background-color:lightsalmon;
  color:black;
  border:2px solid black;
  padding:8px;
  border-radius:10px;
  margin-top:-225px;
  margin-left:750px;
 }
 .cc h1{
  font-weight:bold;
  text-align:center;
 }
 .cc h4{
  text-align: center;
 }
 .cc h5{
  text-align: center;
  color:blue;
 }
